name: "Construção do artefato"

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: cviniciussdias
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Constrói e envia imagem docker
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: cviniciussdias/projeto_go:latest,cviniciussdias/projeto_go:${{ github.sha }}
